<ul class="example-orbit" data-orbit>
  <li>
    <center><img src="/snow.jpg" alt="slide 1" /></center>
    <div class="orbit-caption">
      Things to do winter quarter! | <a href="https://www.stevenspass.com/site/mountain/reports/snow-and-weather-report/@@snow-and-weather-report" target="_blank">Read More</a>
    </div>
  </li>
  <li class="active">
    <img src="/math.jpg" alt="slide 2" />
    <div class="orbit-caption">
      Find math tutoring! | <a href="https://www.tacoma.uw.edu/teaching-learning-center/teaching-learning-center" target="_blank">Read More</a>
    </div>
  </li>
  <li>
    <img src="http://foundation.zurb.com/docs/assets/img/examples/launch-orbit.jpg" alt="slide 3" />
    <div class="orbit-caption">
      Check out UW sports schedule! | <a href="http://www.gohuskies.com/main/Schedule.dbml?DB_OEM_ID=30200">Read More</a>
    </div>
  </li>
</ul>