<ul class="example-orbit" data-orbit>
  <li>
    <img src="http://foundation.zurb.com/docs/assets/img/examples/satelite-orbit.jpg" alt="slide 1" />
    <div class="orbit-caption">
      UW Engineers Launch Satellite | <a href="#">Read More</a>
    </div>
  </li>
  <li class="active">
    <img src="http://foundation.zurb.com/docs/assets/img/examples/andromeda-orbit.jpg" alt="slide 2" />
    <div class="orbit-caption">
      UW Satellite Lost in Orbit! | <a href="#">Read More</a>
    </div>
  </li>
  <li>
    <img src="http://foundation.zurb.com/docs/assets/img/examples/launch-orbit.jpg" alt="slide 3" />
    <div class="orbit-caption">
      NASA Sends Rockets to Rescue UW Satellite! | <a href="#">Read More</a>
    </div>
  </li>
</ul>