<%= form_for(@post) do |f| %>

  <div class="field">
    <%= f.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <div class="row collapse">
        <div class="small-10 columns">
          <%= f.text_field :content,  autofocus: true, class: "text" %>
        </div>
        <div class="small-2 columns">
          <%= f.submit "Share", class: "button postfix" %>
        </div>
      </div>
    </div>
  </div>
  
<% end %>