
  <div class="row">
    <div class="large-offset-1 large-8 columns">
      <h2>About</h2>
      <p>DubNet is a project maintained by the UWT "HUSCII" coding club.
      Our goal is to provide UW students with an easy means of communication from which
      to meet, and interact with other students and alumni. DubNet is a project maintained by the UWT "HUSCII" coding club.
      Our goal is to provide UW students with an easy means of communication from which
      to meet, and interact with other students and alumni. </p>
    </div>
  </div>  
  
  <div class="row">
    <div class="large-12 columns">
      <center>
              <img src="https://www.tacoma.uw.edu/sites/default/files/global/images/campus-sunset-clean.jpg">
      </center>
    </div>
  </div>

