<div class="row">
    <div class="columns">
        <div class="header">
            <h2>Contact Us</h2>
        </div>
                <ul class="vcard">
                  <li class="fn">HuSCII Coding</li>
                  <li class="street-address">1900 Commerce St,</li>
                  <li class="locality">Tacoma</li>
                  <li><span class="state">Washington</span>, <span class="zip">98402</span></li>
                  <li class="email"><a href="#">huscii@uw.edu</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
