
<div class="row">
    <div class="columns">
        <div class="header">
            <h2>FAQ</h2>
        </div>
        <p>This page was create by HuSCII Coding Club members in Fall of 2015.</p>
    </div>
</div>
