<<<<<<< HEAD
This is a post.
    This is a reply.
    
this is a post.
    This is a reply.
=======
<h1>Pages#feed</h1>
<p>Find me in app/views/pages/feed.html.erb</p>
<%= render '/components/post_form' %>

<% for @p in @posts %>
    <%= @p.content %> <br />
<% end %>
>>>>>>> 5e72d4cf8f03d7bd0d6dcaa4ef76f3799bce48bf
