  <div class="row">
    <div class="large-12 columns">
      <div class="nav-bar right">
       <ul class="button-group">
         <li><a href="/about" class="button">ABOUT</a></li>
         <li><a href="/privacy" class="button">PRIVACY</a></li>
         <li><a href="/TOS" class="button">TOS</a></li>
         <li><a href="/FAQ" class="button">FAQ</a></li>
        </ul>
      </div>
      <h1>DubNet</h1>
      <hr/>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <img src="http://i.imgur.com/dDezFRk.png">
    </div>
  </div>

  <div class="row">
    <hr>
    <div class="large-8 columns">
      <h4>About</h4>
      <p>DubNet is a project maintained by the UWT "HUSCII" coding club.
      Our goal is to provide UW students with an easy means of communication from which
      to meet, and interact with other students and alumni.</p>
      <i class="fi-social-twitter"></i>
    </div>
    <div class="large-4 columns">
      <img src="http://i.imgur.com/EFGsdwi.png">
    </div>
  </div>

  <div class="row">
    <hr>
    <div class="large-12 columns">
      <h4>Students Using DubNet</h4>

      <ul class="clearing-thumbs small-block-grid-1 medium-block-grid-2 large-block-grid-4" data-clearing>
        <li>
          <a href="http://i.imgur.com/OLrzBXB.jpg">
          <img data-caption="caption here..." src="http://i.imgur.com/OLrzBXB.jpg"></a>
        </li>
        <li>
          <a href="http://i.imgur.com/k3XQbLh.jpg"><img data-caption="caption 2 here..." src="http://i.imgur.com/k3XQbLh.jpg"></a>
        </li>
        <li>
          <a href="http://i.imgur.com/eXQsdDC.jpg"><img data-caption="caption 3 here..." src="http://i.imgur.com/eXQsdDC.jpg"></a>
        </li>
        <li>
          <a href="http://i.imgur.com/zPadoGm.jpg"><img data-caption="caption 4 here..." src="http://i.imgur.com/zPadoGm.jpg"></a>
        </li>

      </ul>
    </div>
  </div>
