  <div class="row">
    <div class="large-8 columns">
      <h2>Privacy</h2>
      <p>Our Services instantly connect people everywhere to what’s most 
      meaningful to them. Any registered user of the DubNet Services can write 
      a post, which is a message of 140 characters or less that is public by 
      default and can include other content like photos, videos, and links to 
      other websites. When you create or reconfigure an account, you provide 
      some personal information, such as your name, username, password, email 
      address, or phone number. On the DubNet Services, your name and username 
      are listed publicly, including on your profile page and in search results,
      and you can use either your real name or a pseudonym. Some Dubnet 
      Services, such as searching and viewing public user profiles, do not 
      require registration. </p>
    </div>
  </div>  
  
  <div class="row">
    <div class="large-12 columns">
      <img src="http://www.moorerubleyudell.com/sites/default/files/styles/mry-project-image-main/public/162-Main1.jpg?itok=KOOzBjlk">
    </div>
  </div>