<<<<<<< HEAD
This is <%= params[:id] %>'s profile page. 

You should be able to see his avatar.

Major, gender, age, soph/junior/senior/freshy, clubs
=======
<h1>Pages#profile</h1>
<p>Find me in app/views/pages/profile.html.erb</p>
>>>>>>> 5e72d4cf8f03d7bd0d6dcaa4ef76f3799bce48bf
